<mat-card>
  <mat-card-title>{{ name }}</mat-card-title>
  <mat-card-content>
    <img alt="{{ name }}" src="assets/images/{{ filename }}">
  </mat-card-content>
  <mat-card-actions>
    <div class="inline">
      <span>{{ customPrefix ?? prefix + ' ' + name }}</span>
      <mat-form-field>
        <input matInput type="text" [(ngModel)]="text">
      </mat-form-field>
    </div>

    <button mat-icon-button (click)="copyToClipboard()"><mat-icon>content_copy</mat-icon></button>
  </mat-card-actions>
</mat-card>
