.inline {
  display: inline-block;
}

mat-card {
  width: 20vw;
}

mat-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vw;
}

mat-card-actions {
  margin-left: 0;
  margin-right: 0;
}

mat-form-field {
  width: auto;
  margin: 0 1em;
}

img {
  width: 15vw;
}
