.inline {
  display: inline-block;
}

mat-card {
  width: 30vw;
}

mat-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vw;
}

mat-card-actions {
  margin-left: 0;
  margin-right: 0;
}

mat-form-field {
  width: auto;
  margin: 0 1em;
}

.mat-button {
  padding: 0;
  margin: 0 !important;
  min-width: 36px;
}

img {
  width: 20vw;
}
