<mat-card>
  <mat-card-header>
    <mat-card-title>Memebot</mat-card-title>
    <mat-card-subtitle>Invite me: <a href="{{ inviteLink }}">{{ inviteLink }}</a></mat-card-subtitle>
    <button mat-stroked-button (click)="reload()"><mat-icon>refresh</mat-icon></button>
  </mat-card-header>

  <mat-card>
    <mat-form-field>
      <input #search matInput placeholder="Search" type="text" (input)="filter(search.value)">
      <mat-icon matSuffix (click)="search.value = ''; filter('')">clear</mat-icon>
    </mat-form-field>
  </mat-card>

  <mat-card-content>
    <app-meme
      *ngFor="let configElem of shownMemes"
      [name]="configElem.name"
      [filename]="configElem.filename"
      [customPrefix]="configElem.customPrefix"
    ></app-meme>
  </mat-card-content>
</mat-card>
