mat-card {
  margin: 16px;
}

mat-card-content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

app-meme {
  margin: 1vw !important;
}

mat-card-header button {
  position: absolute;
  right: 1vw;
  top: 1vw;
}

mat-form-field mat-icon {
  cursor: pointer;
}

div > mat-icon {
  margin-right: 1vw;
}

div {
  display: inline-flex;
  align-items: center;
  margin: 0 1vw;
}

.control {
  position: sticky;
  top: 0;
  z-index: 100;
}

.switch {
  float: right;
  height: 65px;
  display: flex;
  justify-content: center;
}

.switch div mat-slide-toggle {
  margin: 0 1vw;
}
