<mat-card>
  <mat-card-header>
    <mat-card-title>Memebot</mat-card-title>
    <mat-card-subtitle>Invite me: <a href="{{ inviteLink }}">{{ inviteLink }}</a></mat-card-subtitle>
    <button mat-stroked-button (click)="reload()"><mat-icon>refresh</mat-icon></button>
  </mat-card-header>

  <mat-card>
    <mat-form-field>
      <input #search matInput placeholder="Search" type="text" (input)="filter(search.value)">
      <mat-icon matSuffix (click)="search.value = ''; filter('')">clear</mat-icon>
    </mat-form-field>

    <button mat-icon-button (click)="changeSortDirection()"><mat-icon>swap_vert</mat-icon></button>
    <mat-form-field>
      <mat-select [(value)]="sortType" (selectionChange)="sort()">
        <mat-option *ngFor="let sortType of sortTypes" [value]="sortType[0]">{{ sortType[1] }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-icon>sort</mat-icon>
  </mat-card>

  <mat-card-content>
    <app-meme
      *ngFor="let configElem of getVisibleMemes()"
      [name]="configElem.name"
      [filename]="configElem.filename"
      [customPrefix]="configElem.customPrefix"
    ></app-meme>
  </mat-card-content>
</mat-card>
