mat-card {
  margin: 16px;
}

mat-card-content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

app-meme {
  margin: 1vw !important;
}

button {
  position: absolute;
  right: 1vw;
  top: 1vw;
}
